.frame-child {
  position: relative;
  background: linear-gradient(
    89.11deg,
    #ff7c1e,
    rgba(255, 255, 255, 0) 49.9%,
    rgba(129, 254, 141, 0.49) 74.68%,
    #00fe19
  );
  width: 1512px;
  height: 134px;
}
.human-anomaly-detection {
  position: relative;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 669px;
  height: 149px;
  flex-shrink: 0;
  margin-top: -102px;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 181px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 587px;
  height: 316px;
  cursor: pointer;
}
.frame-inner {
  left: 703px;
}
.frame2 {
  position: undefined;
  width: 1290px;
  height: 316px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 36px;
}
.frame-icon,
.rectangle-div {
  position: relative;
  width: 587px;
  height: 316px;
  cursor: pointer;
}
.frame-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle-div {
  background-color: var(--color-gainsboro-100);
}
.frame1,
.frame3 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame3 {
  width: 1290px;
  height: 316px;
  flex-shrink: 0;
  flex-direction: row;
  gap: 116px;
  position: undefined;
  margin-right: 36px;
}
.frame1 {
  position: absolute;
  top: 212px;
  left: 93px;
  width: 1326px;
  height: 744px;
  flex-direction: column;
  gap: 112px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1088px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
  font-family: var(--font-libre-bodoni);
}
